@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap');

.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 4rem 0;
}

.title span {
  color: #84ba64;
  text-decoration: none;
}

.title {
  margin: 0;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.15;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: rgb(100, 100, 100); */
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}

@media (max-width: 600px) {
  .grid {
    flex-direction: column;
    width: 100%;
  }
}

.card {
  max-width: 300px;
  min-height: 142.5px;
  margin: 1rem;
  padding: 1.5rem;
  border: 1px solid rgb(100, 100, 100);
  border: 1px solid white;
  border-radius: 10px;
  color: inherit;
  text-align: left;
  text-decoration: none;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  border-color: #84ba64;
  color: #84ba64;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 300;
}

.logo a {
  height: 1em;
  margin-left: 0.25rem;
  color: #84ba64;
}

.logo a:hover,
.logo a:focus,
.logo a:active {
  text-decoration: underline;
}

.footer {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  /* border-top: 1px solid white; */
}

.footer a {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

